shamefully-hoist=true # 将依赖提升到根目录的node_modules中
# save-workspace-protocol=true # 允许安装工作空间协议的依赖
# save-prefix=~ # 安装时前缀

link-workspace-packages=true # 创建符号链接, a作为b的依赖不会复制到b的node_modules中而是直接引用本地a
strict-peer-dependencies=false # npm i 时查看package.json文件中peerDependencies属性值是否满足, 否者将抛出错误阻止安装
# ignore-workspace-root-check=true # 忽略根目录工作空间检查

# shell-emulator=true
# package-manager-strict=false
